html, body {
    margin: 0;
    padding: 0;
  }

body {
    background-color: rgb(176, 220, 253);
    background-size: cover;
    font-family: PT Sans;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    background-color: coral;
    position: fixed;
    margin: auto;
    display: block;
    width: 100%;
    z-index: 10;
}

nav {
    padding: 0.5%;
    display: block;
    width: 100%;
}

nav li {
    font-family: PT Sans; 
    font-weight: 100px;
    list-style-type: none;
    display: inline-block;
}

main {
    max-width: 90%;
    height: 1000px;
    margin: 0 auto;
    overflow: scroll;
    position: relative;
}

h1.rainbow {
    background-color: rgb(176, 220, 253);
    font-family: Sansita Swashed, PT Sans;
    font-weight: 700;
    font-size:30px;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    padding: 10px 0px 20px 0px;
    margin: auto;

}

h2 {
    font-family: Sansita Swashed, PT Sans;
    font-weight: 500;
    text-decoration: underline;
    
}

img {
    width: 50%;
}

a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    background-color: coral;
    
}

p {
    padding: 2%;
    margin: 0 auto;
}

footer {
    position: bottom;
    text-align: center;
    padding: 1%;
    margin: auto;
}

span.rainbow {
    font-family: lobster;
}

#header-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#abcs {
    background-color: rgb(255, 255, 255);
}

#aruba {
    background-color: rgb(241, 67, 81);
}

#bonaire {
    background-color: rgb(250, 243, 73);
}

#curacao {
    background-color: rgb(0, 89, 176);
}

#history {
    background-color: rgb(60, 145, 221);
}

#culture {
    background-color: rgb(202, 166, 137);
}
#where-to-go {
    background-color: rgb(117, 156, 165);
}

#what-to-do {
    background-color: rgb(255, 156, 186);
}

.rainbow {
animation: rainbow 5s infinite;
}
@keyframes rainbow {
    0%{color: rgba(250, 150, 202,0.6);}
    10%{color: rgba(251, 177, 160, 0.6);}
    20%{color: rgba(60, 90, 72, 0.6);}
    30%{color: rgba(41, 100, 192, 0.6);}
    40%{color: rgba(251, 177, 160, 0.6);}
    50%{color: rgba(16, 49, 145, 0.6);}
    60%{color: rgba(8, 105, 114, 0.6);}
    70%{color: rgba(248, 243, 75, 0.6);}
    80%{color: rgba(102, 255, 255, 0.6);}
    90%{color: rgba(102, 139, 204, 0.6);}
    100%{color: rgba(255, 69, 69, 0.6);}
}
